<div class="container" th:fragment="announceFragment">
    <h2 class="text-center">공지사항</h2>
    <table class="table table-hover table-bordered">
        <thead class="table" style="background-color: #1C2143;">
        <tr class="text-center text-white">
            <th style="width:50%">제목</th>
            <th>작성자</th>
            <th>작성일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, loop : ${questionList}">
            <td><a class="text-black fw-bold"  th:href="@{|/singup/detail/${question.id}|}" style="text-decoration: none; " th:text="${question.title}"></a>
                <span class="text-danger small ms-2"
                      th:if="${#lists.size(question.commentList) > 0}"
                      th:text="|댓글 ${#lists.size(question.commentList)}|">
                    </span>
            </td>

            <td class="text-center" th:text="${question.nickname}"></td>
            <td class="text-center" th:text="${#temporals.format(question.created_at, 'yyyy.MM.dd.')}"></td>

        </tr>
        </tbody>
    </table>