<div class="container mt-5 mb-5" th:fragment="commentFragment">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 mb-5">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h5 class="border-bottom my-3 py-2"
                th:text="|${#lists.size(question.commentList)}개의 답변이 있습니다.|"></h5>
                <div style="text-align: left">
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                       th:data-uri="@{|/singup/vote/${question.id}|}">
                        추천
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                    </a>
                    <span class="my-3">
        <a th:href="@{|/singup/update/${question.id}|}" class="btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated()"
           th:if="${question.siteUser != null and #authentication.getPrincipal().getUsername() == question.siteUser.email}"
           th:text="수정"></a>
    </span>
                    <span class="my-3">
        <a href="javascript:void(0);" th:data-uri="@{|/singup/delete/${question.id}|}"
           class="delete btn btn-sm btn-outline-secondary"
           sec:authorize="isAuthenticated() or hasRole('ADMIN')"
           th:if="${question.siteUser != null and #authentication.getPrincipal().getUsername() == question.siteUser.email}"
           th:text="삭제"></a>
    </span>
                </div>
            </div>
            <div class="card p-3">
                <form class="form-group shadow-textarea" th:action="@{|/comment/create/${question.id}|}" th:object="${commentForm}" method="post">
                    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                    <textarea class="form-control z-depth-1" name="content" id="content" rows="3" placeholder="댓글을 입력해주세요." style="margin-bottom: 10px;"></textarea>
                    <span style="float: right;"><input type="submit" value="답변등록"></span>
                </form>

            </div>
            <div class="card p-3" th:each="comment : ${question.commentList}">
                <div class="d-flex justify-content-between align-items-center" >
                    <div class="user d-flex flex-row align-items-center">
                        <span><small class="font-weight-bold text-primary" th:text="${comment.nickname}"></small>
                            <small class="font-weight-bold " th:text="${comment.content}"></small></span>
                    </div>
                </div>
                <div class="action d-flex justify-content-between mt-2 ">
                    <div class="reply px-0">
                        <small class="text-muted" th:text="${#temporals.format(comment.getCreated_at, 'yyyy.MM.dd. HH:MM')}"></small>
                        <small class="text-muted">&ensp;답글쓰기</small>
                        <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comment.id}|}"
                           class="delete text-black" style="font-size: small;"
                           sec:authorize="isAuthenticated() or hasRole('ADMIN')"
                           th:if="${comment.siteUser != null and #authentication.getPrincipal().getUsername() == comment.siteUser.email}"
                           th:text="삭제"></a>
                        <span class="dots"></span>
                        <span class="dots"></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
