<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2 text-center">게시글 등록</h5>
    <form th:object="${questionForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" name="subject" id="subject" th:value="*{subject}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <pre><code>코드입력</code></pre>
            <textarea name="content" id="content" th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>
        <input style = "text-align: right" type="submit" value="글쓰기" class="btn btn-outline-dar">
    </form>
</div>
</html>