<footer class="footer text-center py-2 border-top fixed-bottom" style="background: #1C2143" th:fragment="footerFragment">
  <style>

  </style>
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-3">
      <div class="col">
        <p class="text-muted my-2">Copyright&nbsp;© 2023 DevelopJJong</p>
      </div>
      <div class="heading d-flex justify-content-center align-items-center">
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-inline my-2">
          <li class="list-item"><p class="text-muted my-2">jjong___e@naver.com</p></li>
          <li class="list-item"><p class="text-muted my-2">010-2388-3761</p></li>
        </ul>
      </div>
    </div>
  </div>
</footer>