<footer class="footer text-center py-1 border-top fixed-bottom" style="background: #1C2143" th:fragment="footerFragment">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-3">
      <div class="col">
        <p class="text-muted my-2"><a href="#">개인정보처리방침</i></a></p>
      </div>
      <div class="col">
        <p class="text-muted my-2">Copyright&nbsp;© 2023 DevelopJJong</p>

      </div>
      <div class="col">
        <p class="text-muted my-2"><a href="#">전체서비스</a></p>

      </div>
    </div>
  </div>
</footer>